
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.red { background-color: darkred; }
.blue { background-color: mediumaquamarine; }
.green { background-color: green; }
.brown { background-color: saddlebrown; }
.purple { background-color: purple; }
.orange { background-color: orange; }
.pink { background-color: deeppink; }
.cian { background-color: deepskyblue; }





.message {
    margin-top: 20px;
    font-size: 20px;
}

.game-info {
    margin-top: 20px;
    font-size: 18px;
}
.light {
    filter: brightness(1.5);
}
.start-btn {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    transition: 0.3s;
}

.start-btn:hover {
    background-color: #45a049;
}
